[package]
name = "xtask"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
nih_plug_xtask = { git = "https://github.com/bedwards/nih-plug.git", branch = "feature/track-info-extension" }
